<h4>Reply <%= reply.id %>:</h4>
<p><%= reply.body %></p>
<p><%= reply.comment %></p>
<%= link_to 'Show', reply %>
<%= link_to 'Edit', edit_reply_path(reply) %>
<%= link_to 'Destroy', reply, method: :delete, data: { confirm: 'Are you sure?' } %>

