<h1>Ivan the Terrible's Blog</h1>
<section class="search_form">
<%= form_tag posts_path, :method => 'get' do %>
  <p>
    <%= text_area_tag :search, params[:search] %>
    <%= submit_tag "Search titles", :name => nil %>
  </p>
<% end %>
</section>
<section class="blog">
  <%= render @posts %>
</section>
<br />

<%= link_to 'New Post', new_post_path %>
